@charset "UTF-8";
.bannerHero {
  margin: 20px auto;
  width: 90%;
  text-align: center; }
  .bannerHero__text {
    margin-bottom: 25px;
    padding: 0 20px; }
  .bannerHero__img {
    width: 80%;
    max-width: 350px; }
  .bannerHero__title {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #101010;
    padding: 10px; }
    .bannerHero__title strong {
      color: #4ef507;
      font-weight: 500;
      font-size: 1.6rem; }
  .bannerHero__subtitle {
    font-size: .9rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: 320px;
    margin: 5px auto;
    background-color: #101010;
    padding: 10px; }
  .bannerHero__btn, .productVideoContainer__btn, .containerForm .btn-primary, .containerFooter__newsletter__btn {
    background-color: #4ef507;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    font-family: 'Source Code Pro', monospace;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-top: 25px; }
    .bannerHero__btn a, .productVideoContainer__btn a, .containerForm .btn-primary a, .containerFooter__newsletter__btn a {
      color: #101010; }
  .bannerHero__btn:hover, .productVideoContainer__btn:hover, .containerForm .btn-primary:hover, .containerFooter__newsletter__btn:hover {
    filter: brightness(110%);
    box-shadow: 0 0 10px #4ef507; }

@media only screen and (min-width: 768px) {
  .bannerHero {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 20px;
    margin: 20px auto; }
    .bannerHero__text {
      padding: 0 20px; }
    .bannerHero__img {
      width: 100%;
      max-width: 450px; }
    .bannerHero__title {
      font-size: 2rem;
      max-width: 600px; }
      .bannerHero__title strong {
        font-size: 2.1rem; }
    .bannerHero__subtitle {
      font-size: 1.1rem;
      max-width: 500px;
      margin: 5px 0; }
    .bannerHero__btn, .productVideoContainer__btn, .containerForm .btn-primary, .containerFooter__newsletter__btn {
      font-size: 1.2rem; } }

@media only screen and (min-width: 600px) {
  .bannerHero__text {
    margin: 20px auto;
    max-width: 500px; }
  .bannerHero__subtitle {
    font-size: 1rem; } }

.productContainer, .containerSaleProduct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 10px 8px; }
  .productContainer__products {
    position: relative; }
    .productContainer__products img {
      width: 100%;
      border-radius: 3px; }
    .productContainer__products h3 {
      background-color: #101010;
      color: #ffe05f;
      font-size: 1.1rem;
      font-weight: 500;
      padding: 5px 8px;
      border-radius: 3px;
      position: absolute;
      bottom: 5%;
      left: 5%; }
    .productContainer__products p {
      background-color: #101010;
      color: #ffa6a6;
      font-size: 0.8rem;
      font-weight: 400;
      padding: 5px 8px;
      border-radius: 3px;
      position: absolute;
      top: 5%;
      left: 5%; }
    .productContainer__products strong {
      font-size: 1rem; }
    .productContainer__products:hover {
      transform: scale(1.01);
      box-shadow: 0 0 10px #4ef507; }
    @media only screen and (min-width: 1024px) {
      .productContainer__products h3 {
        font-size: 1.3rem; }
      .productContainer__products p {
        font-size: 1rem; }
      .productContainer__products strong {
        font-size: 1.3rem; } }
  @media only screen and (min-width: 768px) {
    .productContainer, .containerSaleProduct {
      grid-template-columns: repeat(3, 1fr);
      padding: 10px 50px; } }
  @media only screen and (min-width: 1200px) {
    .productContainer, .containerSaleProduct {
      max-width: 1200px;
      margin: 0 auto; } }

/* Carusel de ofertas */
.containerOfertasFooter {
  margin: 10px auto; }
  .containerOfertasFooter .carousel-control-prev-icon {
    background-image: url(../images/arrow-left-solid.svg); }
  .containerOfertasFooter .carousel-control-next-icon {
    background-image: url(../images/arrow-right-solid.svg); }

.containerNews {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
  padding: 10px 16px; }
  .containerNews__item {
    position: relative; }
    .containerNews__item img {
      width: 100%;
      border-radius: 3px; }
    .containerNews__item h3 {
      position: absolute;
      background-color: #101010;
      color: #ffe05f;
      font-weight: 400;
      font-size: 1.1rem;
      padding: 5px 8px;
      bottom: 40%;
      left: 5%;
      border-radius: 3px; }
      .containerNews__item h3:hover {
        box-shadow: 0 0 10px #4ef507; }
  .containerNews__item:hover {
    transform: scale(1.01); }

@media only screen and (min-width: 768px) {
  .containerNews {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: 0 auto; }
    .containerNews__item h3 {
      font-size: 1.3rem; } }

.containerSaleProduct__products {
  position: relative; }
  .containerSaleProduct__products img {
    width: 100%;
    border-radius: 3px; }
  .containerSaleProduct__products h3 {
    background-color: #101010;
    color: #ffe05f;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 3px;
    position: absolute;
    bottom: 5%;
    left: 5%; }
  .containerSaleProduct__products p {
    background-color: #101010;
    color: #4ef507;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 8px;
    border-radius: 3px;
    position: absolute;
    top: 5%;
    left: 5%; }
  .containerSaleProduct__products strong {
    font-size: 1rem;
    color: #ffa6a6; }
  .containerSaleProduct__products:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px #4ef507; }
  @media only screen and (min-width: 1024px) {
    .containerSaleProduct__products h3 {
      font-size: 1.3rem; }
    .containerSaleProduct__products p {
      font-size: 1rem; }
    .containerSaleProduct__products strong {
      font-size: 1.3rem; } }

@media only screen and (min-width: 768px) {
  .containerSaleProduct {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 50px; } }

@media only screen and (min-width: 1200px) {
  .containerSaleProduct {
    max-width: 1200px;
    margin: 0 auto; } }

.productOffContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 10px 8px; }
  .productOffContainer__productsOff {
    text-align: center;
    border-radius: 5px; }
    .productOffContainer__productsOff h3 {
      color: #ffe05f;
      background-color: #101010;
      border-radius: 5px;
      margin: 5px auto;
      padding: 10px 0;
      font-size: .7rem; }
    .productOffContainer__productsOff p {
      color: #ffa6a6;
      background-color: #101010;
      border-radius: 5px;
      margin: 1px;
      padding: 2px;
      font-size: 1rem; }
    .productOffContainer__productsOff img {
      max-width: 100%;
      cursor: pointer;
      transition: all .5s ease; }
      .productOffContainer__productsOff img:hover {
        box-shadow: 0 0 10px #4ef507;
        transform: scale(1.02); }
    @media only screen and (min-width: 768px) {
      .productOffContainer__productsOff h3 {
        margin: 5px 30px;
        font-size: 1rem; }
      .productOffContainer__productsOff p {
        margin: 5px 30px;
        font-size: 1.2rem; } }
    @media only screen and (min-width: 860px) {
      .productOffContainer__productsOff h3 {
        font-size: 1.2rem; }
      .productOffContainer__productsOff p {
        font-size: 1rem; } }
  @media only screen and (min-width: 860px) {
    .productOffContainer {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1000px;
      margin: 0 auto; } }

/* Video container */
.productVideoContainer {
  max-width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  max-width: 960px; }
  .productVideoContainer video {
    max-width: 100%; }
  .productVideoContainer__btn {
    margin: 20px auto; }

.teamContainer {
  display: flex;
  flex-direction: column;
  margin: 10px auto; }
  .teamContainer__teamItem {
    text-align: center;
    margin: 10px auto; }
    .teamContainer__teamItem h3 {
      background-color: #101010;
      color: #ffe05f;
      margin: 5px 50px;
      padding: 10px 0; }
    .teamContainer__teamItem p {
      background-color: #101010;
      margin: 2px 70px;
      padding: 10px 0;
      color: #ffa6a6; }
    .teamContainer__teamItem img {
      border-radius: 5px;
      max-width: 50%;
      min-width: 100px;
      box-shadow: 0 0 10px #4ef507;
      cursor: pointer; }
  @media only screen and (min-width: 600px) {
    .teamContainer {
      flex-direction: row;
      max-width: 900px;
      justify-content: space-between; } }

.containertEvidencia {
  margin: 20px auto 40px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .containertEvidencia__bannerUs {
    max-width: 100%; }
  .containertEvidencia__textUs {
    margin: 10px;
    max-width: 100%; }
    .containertEvidencia__textUs__title {
      background-color: #101010;
      margin: 10px auto;
      padding: 10px;
      color: #4ef507; }
    .containertEvidencia__textUs__subtitle {
      background-color: #101010;
      padding: 30px 20px; }
  @media only screen and (min-width: 1000px) {
    .containertEvidencia {
      flex-direction: row;
      align-items: center; }
      .containertEvidencia__bannerUs {
        max-width: 400px;
        margin-right: 10px; }
      .containertEvidencia__textUs {
        max-width: 600px; } }

.containerCondiciones, .containerTable {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  background-color: #101010;
  padding: 20px 20px; }
  .containerCondiciones__textDelivery h3 {
    margin: 10px 0;
    color: #4ef507; }

.containerTable .table {
  border-color: #4ef507;
  color: #fff;
  margin: 0 auto; }

/* Preguntas frecuentes */
.containerQuestions {
  width: 90%;
  max-width: 900px;
  margin: 0 auto; }
  .containerQuestions .accordion-button {
    background-color: #101010;
    color: #4ef507; }
  .containerQuestions .accordion-body {
    background-color: #101010; }
  .containerQuestions .accordion-button:not(.collapsed) {
    color: #101010;
    background-color: #4ef507; }
  .containerQuestions .accordion-button:not(.collapsed)::after,
  .containerQuestions .accordion-button::after {
    background-color: #fff;
    border-radius: 10%;
    padding: 3px; }
  .containerQuestions .accordion-item {
    border: solid 1px #4ef507; }

.containerForm {
  max-width: 900px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #22201e; }
  .containerForm .form-control {
    border: none; }
  .containerForm .btn-primary {
    color: #101010; }

.map {
  display: flex;
  justify-content: center; }
  .map iframe {
    width: 100%;
    max-width: 900px;
    margin: 10px 10px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Source Code Pro', monospace;
  background-image: url(../images/universePattern.png);
  background-color: #101010;
  color: #fff;
  font-size: 16px;
  height: 100vh; }

a {
  text-decoration: none;
  color: #fff; }

h3 {
  font-size: 1.17rem; }

hr {
  max-width: 80%;
  margin: 50px auto;
  color: solid 1px;
  background-color: #4ef507;
  border: 0;
  opacity: 1; }

/* ----Navbar---- */
.topheader {
  width: 100%;
  background-color: #101010;
  box-shadow: 0 5px 6px #0000007b; }

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  max-width: 980px;
  margin: 0 auto; }
  .navbar__logoBrand {
    display: flex;
    align-items: center; }
    .navbar__logoBrand img {
      width: 140px; }
    .navbar__logoBrand p {
      margin: auto 10px;
      color: #4ef507;
      font-size: 1.1rem; }
  .navbar__menuList {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 10px 5px; }
    .navbar__menuList li {
      padding: 0 15px; }
    .navbar__menuList a {
      font-size: .9rem;
      position: relative; }
      .navbar__menuList a:hover {
        color: #fff; }
      .navbar__menuList a::after {
        content: "";
        background-color: #4ef507;
        position: absolute;
        left: 0;
        top: calc(100% + 3px);
        width: 100%;
        height: 2px;
        opacity: 0;
        transition: opacity .3s; }
    .navbar__menuList a.navbar__menuList--selected::after,
    .navbar__menuList a:hover::after {
      opacity: 1; }
  .navbar__openMenu, .navbar__closeMenu {
    display: none; }

@media only screen and (max-width: 950px) {
  .navbar__menuList {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background-color: #101010;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s; }
    .navbar__menuList li {
      padding: 0; }
    .navbar__menuList a {
      font-size: 1.5rem;
      line-height: 80px; }
    .navbar__menuList a::after {
      content: none; }
    .navbar__menuList a:hover,
    .navbar__menuList a.--selected {
      color: #4ef507; }
  .navbar__openMenu, .navbar__closeMenu {
    display: block;
    border: none;
    background: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer; }
    .navbar__openMenu:focus:not(:focus-visible),
    .navbar__closeMenu:focus:not(:focus-visible) {
      outline: none; }
  .navbar__closeMenu {
    align-self: flex-end;
    padding: 6px 26px; }
  .menuOpened {
    opacity: 1;
    pointer-events: all; } }

@media only screen and (max-width: 350px) {
  .navbar__logoBrand p {
    font-size: .8rem; } }

@media only screen and (max-width: 320px) {
  .navbar__logoBrand p {
    display: none; } }

/* ----Top image---- */
.topImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; }
  .topImage img {
    max-width: 90%;
    margin: 5px auto;
    border-radius: 3px; }
  @media only screen and (min-width: 800px) {
    .topImage {
      flex-direction: row;
      justify-content: center;
      margin: 10px auto; }
      .topImage img {
        max-width: 90%;
        margin: 5px 5px; } }

/* ----Titulos de sección---- */
.titleSection {
  display: flex;
  justify-content: center; }
  .titleSection__product {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #4ef507;
    background-color: #101010;
    padding: 16px 16px; }

/* ----Footer---- */
footer {
  background: #101010;
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%); }

.containerFooter {
  display: flex;
  max-width: 98%;
  margin: 10px auto;
  flex-direction: column; }
  .containerFooter__team {
    max-width: 100%;
    margin: 10px 10px;
    padding: 10px 0 0 15px;
    text-align: left; }
    .containerFooter__team h3 {
      margin-bottom: 10px; }
    .containerFooter__team p {
      margin-bottom: 20px; }
    .containerFooter__team a {
      color: #4ef507; }
  .containerFooter__newsletter {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 10px 10px;
    padding: 10px 15px;
    text-align: left; }
    .containerFooter__newsletter h3 {
      margin-bottom: 10px; }
    .containerFooter__newsletter p {
      margin-bottom: 10px; }
    .containerFooter__newsletter input {
      padding: 10px; }
    .containerFooter__newsletter::placeholder {
      font-size: 1.1rem;
      font-family: 'Source Code Pro', monospace; }
    .containerFooter__newsletter__btn {
      margin: 25px; }

.lastContainer {
  display: flex;
  max-width: 1000px;
  margin: 10px auto 10px;
  align-items: center;
  flex-direction: column; }
  .lastContainer__logoFooter {
    width: 120px;
    margin: 0 0 5px; }
  .lastContainer__textFooter {
    font-size: .8rem; }
    .lastContainer__textFooter a:hover {
      color: #ffe05f; }

@media only screen and (min-width: 700px) {
  .containerFooter {
    display: flex;
    max-width: 1000px;
    margin: 10px auto;
    flex-direction: row;
    justify-content: center; }
    .containerFooter__team {
      max-width: 50%; }
    .containerFooter__newsletter {
      max-width: 50%; } }
