$colorTheme: #22201e;
$themeTwo: #ffffffd6;
$primaryColor: #4ef507;
$secundaryColor: #101010;
$pinkColor: #ffa6a6;
$yellowColor: #ffe05f;
$textColor: #fff;
$shadowColor: #0000007b;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Code Pro', monospace;
    background-image: url(../images/universePattern.png);
    background-color: $secundaryColor;
    color: $textColor;
    font-size: 16px;
    height: 100vh;
}
a{
    text-decoration: none;
    color: $textColor;
}
h3{
    font-size: 1.17rem;
}
hr{
    max-width: 80%;
    margin: 50px auto;
    color: solid 1px;
    background-color: $primaryColor;
    border: 0;
    opacity: 1;
}